*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
    position: relative;
}

/*HEADER*/
header{
    height: 50px;
    background-color: aqua;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex{
    display: flex;
}
.headleft{
    /*debug*/
    height: 50px;
    background-color: gray;
}
.headright{
    /*debug*/
    height: 50px;
    width: 100px;
    background-color: gray;
}

/*WRAPPER 1*/
.wrapper{
    /*debug*/
    height: 600px;
    width: 100%;
    z-index: -1;
    justify-content: center;

}
.first{
    /*debug*/
    background-color: rgb(35, 116, 238);
}


.box1{
    /*debug*/
    width: 40%;
    height: 600px;
    background-color: green;
}
.box2{
       /*debug*/
       width: 40%;
       height: 600px;
       background-color: blue;
}
.box3{
    /*debug*/
    width: 40%;
    height: 600px;
    background-color: rgba(102, 102, 168, 0.568);
}
.box4{
    /*debug*/
    width: 40%;
    height: 600px;
    background-color: rgb(148, 122, 87);;
}
.box5{
    /*debug*/
    width: 40%;
    height: 600px;
    background-color: greenyellow;
}


























.second{
     /*debug*/
    background-color:blueviolet;
}
.third{
     /*debug*/
    background-color: orange;
}
.fourth{
     /*debug*/
    background-color: rgb(155, 112, 55);
}
.fifth{
     /*debug*/
    background-color: rgba(71, 129, 43, 0.822);
}