*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
    position: relative;
}

/*HEADER*/
header{
    height: 50px;
    background-color: aqua;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex{
    display: flex;
}
.headleft{
    /*debug*/
    height: 50px;
    background-color: gray;
}
.headright{
    /*debug*/
    height: 50px;
    width: 100px;
    background-color: gray;
}

/*WRAPPER 1*/
.wrapper{
    /*debug*/
    height: fit-content;
    width: 100%;
    /* z-index: -1; */
    justify-content: center;

}
.first{
    /*debug*/
    background-color: rgb(35, 116, 238);
}


.box1{
    /*debug*/
    width: 40%;
    height: auto;
    background-color: green;
}
.box2{
    flex-direction: column;
    gap: 10px;
    /*debug*/
    width: 40%;
    height: fit-content;
    background-color: blue;
}
.box3{
    /*debug*/
    width: 100%;
    height: 200px;
    background-color: rgba(102, 102, 168, 0.568);
    justify-content: space-between;
}
.box4{
    /*debug*/
    width: 40%;
    height: auto;
    background-color: rgb(148, 122, 87);;
}
.box5{
    /*debug*/
    width: 40%;
    height: 200px;
    background-color: greenyellow;
}
/*first wrapper done*/

/*second-wrapper*/
.second{
    /*debug*/
   background-color:blueviolet;
}
.row1{
    /*debug*/
    height: 30px;
    width: 100%;    
    background-color: aliceblue;
}

/*second row*/
.row2{
    width: 100%;
    height: 600px;
    background-color: aliceblue;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.column2{
    height: auto;
    width: 30%;
    background-color: gray;
}

/*third row*/
.row3{
    /*debug*/
    height: 50px;
    width: 100%;    
    background-color: aliceblue;
}
/*fouth-row*/
.row4{
    height: 100px;
    width:100%%;
    justify-content: space-between;
}
.column:first-child{
    height: auto;
    width: 30%;
    background-color: gray;
    flex-grow: 1;
}

.column{
    height: auto;
    width: 30%;
    background-color: blanchedalmond;
}

/*fifth-row*/
.row5{
    flex-wrap: wrap;
    height: 800px;
    width:100%;
    justify-content: center;
    
}
.card{
    width: calc(80%/3);
    height: auto;
    background-color: grey;
    margin: 3px;
}

/*sixth row*/
.row6{
    height: 100px;
    width: 100%;
}
.column61{
    background-color: chocolate;
    height: auto;
    width: 30%
}
/*second wrapper done*/

/*third wrapper*/
.third{
     /*debug*/
     height: fit-content;
     width: 100%;
     justify-content: space-between;
    
}
.macrosquare{
    height: 200px;
    width: 20%;
    background-color: cornflowerblue;
}


/*fourth wrapper*/
.fourth{
    /*debug*/
    height: 200px;
    background-color: rgb(155, 112, 55);
    justify-content: center;

}
.segment:first-child{
    height: auto;
    width: 30%;
    background-color: gray;
    flex-grow: 1;
}

.segment{
    height: auto;
    width: 30%;
    background-color: blanchedalmond;
}

/*fifth-wrapper*/
.fifth{
    /*debug*/
   background-color: rgba(71, 129, 43, 0.822);
   height: fit-content;
   padding: 2rem
}
/*main-done*/

/*footer*/




























